<!DOCTYPE html>
<html lang="en">

<head>
    <title>Insurance Quote Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        {% set background_url = url_for('static', filename='family-figure-shape-stethoscope-with-copy-space_23-2148488223.jpg') %}
        body{
            background-image: url('{{background_url}}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
    
</head>
<body>
    <div class="labels">

        <h1 class="heading">Insurance Quote Form</h1>
        
        <form action="/price_prediction" method="post">
            <label for="age">Age:</label>
            <input class="agelabel" type="number" id="age" name="age" required><br>
            
            <label class="sexlabel" for="sex">Sex:</label>
            <select id="sex" name="sex" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select><br>
            
            <label class="bmilabel" for="bmi">BMI:</label>
            <input type="number" id="bmi" name="bmi" step="0.01" required><br>
            
            <label class="childrenlabel" for="children">Number of Children:</label>
            <input type="number" id="children" name="children" required><br>
            
            <label class="smokerlabel" for="smoker">Smoker:</label>
            <select id="smoker" name="smoker" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select><br>
            
            <label class="religionlabel" for="region">Region:</label>
            <select id="region" name="region" required>
                <option value="southeast">Southeast</option>
                <option value="southwest">Southwest</option>
                <option value="northeast">Northeast</option>
                <option value="northwest">Northwest</option>
            </select><br>
            
            <input type="submit" value="Get Insurance Quote">
        </form>
        
    </div>
</body>
</html>
